@font-face
{
	font-family: mont;
	src: url('../fonts/Montserrat-Bold.ttf');
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
}

div#ui-fader
{
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 9999;
    pointer-events: none;
}